@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    padding: 15px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.btn-menu {
    display: none;
}

.logo img {
    width: 90px;
}

.navigation {
    width: 45%;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-list a {
    text-decoration: none;
    color: #9767A9;
    font-size: 1vw;
}
.nav-list a:hover {
    font-weight: 800;
}

.search {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    background-image: url("./assets/Layer_3.svg");
    background-repeat: no-repeat;
    background-position: 2% center;
    border-radius: 20px;
    border: 2.5px solid #9767A9;
    outline: none;
    text-align: center;
    color: #9767A9;
    font-size: 1vw;
    width: 12vw;
    padding: 0.4vw;
}

.social-networks-list {
    width: 38%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.social-networks-list li:hover {
    cursor: pointer;
}
.social-networks-list img {
    width: 2.2vw;
}

/*Inicio da estilização da main*/

.banner {
    background-image: url("./assets/cabeludo.png");
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner h2 {
    font-family: serif;
    font-size: 4.5vw;
    color: white;
    width: 15vw;
}
.banner p {
    width: 16vw;
    color: white;
    font-size: 1.4vw;
    font-weight: 300;
}

.description {
    background-color: #9767A9;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 3vw 10vw;
}
.description h2 {
    font-family: 'Playfair Display', serif;
    width: 42vw;
    font-size: 3vw;
    color: white;
}
.description p {
    width: 30vw;
    font-size: 1.1vw;
    font-weight: 200;
    color: white;
}

.instructions {
    width: 100%;
    height: 190vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.instructions img {
    width: 40vw;
}

.content {
    background-color: #9767A9;
    color: white;
    width: 30vw;
    padding: 1.5vw;
    position: relative;
    top: -10vw;
    left: 5vw;
}
.content h2 {
    font-family: 'Playfair Display', serif;
    width: 25vw;
    font-size: 2vw;
    margin-bottom: 1vw;
}
.content p {
    width: 100%;
    font-size: 1vw;
    font-weight: 200;
}

.instruction-one, .instruction-two, .instruction-three, .instruction-four, .instruction-five, .instruction-six, .instruction-seven {
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
}

.instruction-one {
    top: -5vw;
}
.instruction-two {
    top: 14vw;
}
.instruction-three {
    top: -8vw;
}
.instruction-four {
    top: 10vw;
}
.instruction-five {
    top: -9vw;
}
.instruction-six {
    top: 7vw;
}
.instruction-seven {
    top: -12vw;
}

.cacho {
    width: 40vw;
    height: 10vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: 8vw;
}
.cacho img {
    width: 30vw;
}


@media(max-width: 800px){
    header {
        height: 10vh;
        padding: 0;
    }
    .logo img {
        width: 80px;
    }
    .btn-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 70px;
        height: 100%;
        padding: 20px;
        background-color: #9767A9;
    }
    .btn-menu span {
        width: 30px;
        height: 2px;
        background-color: white;
    }
    .logo {        
        margin: 0 auto;
    }
    .navigation {
        display: none;
    }
    .search {
        display: none;
    }

    .banner {
        background-position: 30%;
        height: 80vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10vw;
    }
    .banner h2 {
        font-size: 12vw;
        width: 40vw;
        margin-bottom: 5vw;
    }
    .banner p {
        font-size: 4vw;
        width: 45vw;
    }

    .description {
        flex-direction: column;
        align-items: center;
    }
    .description h2 {
        font-size: 6vw;
        width: 85vw;
    }
    .description p {
        width: 85vw;
        font-size: 3vw;
        margin-top: 2vw;
    }

    .instruction-one, .instruction-two, .instruction-three, .instruction-four, .instruction-five, .instruction-six, .instruction-seven {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        top: 1vw;
    }

    .instructions img {
        width: 70vw;
    }
    .content {
        top: -1vw;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content h2 {
        width: 70vw;
        font-size: 6vw;
        margin-bottom: 0;
    }
    .content p {
        width: 70vw;
        font-size: 3vw;
        margin-top: 2vw;
    }

    .cacho {
        top: 0;
        width: 70vw;
        margin: 5vw 0;
    }
    .cacho img {
        width: 50vw;
    }

}